<%= form_with(model: question) do |form| %>
  <div class="col-6 mt-2">
    <%= form.label :question, "Pregunta" %>
    <%= form.text_area :question, class:"form-control" %>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :score, "Puntaje" %>
    <%= form.number_field :score, class:"form-control" %>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :category_id, "Categoria" %>
    <select value="" class="form-control" id="question_category_id" name="question[category_id]" required>
      <% @categories.each do |category|%>
        <% if category.id == question.category_id %>
          <option value="<%= category.id %>" selected> <%= category.name %> </option>
        <%else %>
          <option value="<%= category.id %>"> <%= category.name %> </option>
        <%end%>
      <% end %>
    </select>
  </div>

  <% if question.image.attached? %>
    <div class="mt-2 mb-2 row">
      <div class="col-4">
        <%= image_tag( question.image , class: "rounded float-start d-block", size: "100X100", alt: "Question image") %>
      </div>
    </div>
  <% end %>

  <div class="form-group mt-2">
    <%= form.label :image, "Imagen" %>
    <%= form.file_field :image %>
  </div>

  <div class="mt-4">
    <%= form.submit "Guardar", class:"btn btn-primary" %>
    <%= link_to "Volver", questions_path, class: "btn btn-danger" %>
  </div>
<% end %>
