<%= form_with model: @game, class:"mx-auto",data: {controller:"form"} do |form| %>
  <div class="col-6 mx-auto mt-4">
    <%= form.text_field :player, class: "form-control form-control-lg", required: true, placeholder: "Nombre de jugador/a", autofocus:true %>
  </div>
  
  <div class="form-group row my-4">
    <div class="mb-2 text-center">
      <%= form.label :category_id, "Categoria en la que desea jugar", class: 'h3' %>
    </div>
    <div class="row justify-content-evenly">
      <% @categories.each do |category| %>
        <label class="radio col-4 text-center">
          <div>
            <% if category.image.attached? %>
              <%= image_tag(category.image, size: "200X200", alt: "Category image", class: "rounded zoom radio", data: {action:"click->form#selected", item: "id-param-#{category.id}"}) %>
            <% end %>
            <div style="display:none">
              <%= form.radio_button :category_id, category.id %>
            </div>
          </div>
          <div class="mt-3">
            <span class="badge text-bg-primary"><%= category.name %></span>
          </div>
        </label>
      <% end %>
    </div>
    <% if !@msg_error.nil? %>
      <div class="row justify-content-center">
        <div class="col-4">
          <div class="alert alert-danger d-flex justify-content-center p-2 flex-row mb-3" role="alert">
            <%= inline_svg_tag 'stop.svg', with: 20, height: 20%>
            <div>
              <%= @msg_error %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto mt-4">
    <%= form.submit "Empezar", class: "btn btn-success btn-block mt-4"%>
  </div>
<% end %>