<h1 class="text-center"><%= @title %></h1>

<table class="table table-striped mt-4 shadow-lg p-3 mb-5 bg-body rounded">
  <thead class="table-dark">
    <tr>
      <th>Jugador</th>
      <th>Puntaje</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game|%>
      <% if game.completed %>
        <tr>
          <td><%= game.player%></td>
          <th> 
            <%= game.score%>
            <% if game.score > 3 %>
              <%= inline_svg_tag 'star.svg', with: 20, height: 20%>
            <% end %> 
          </th>
        </tr>
      <% end %>
    <%end%>
  </tbody>
</table>
<div class="pagination">
  <%== pagy_bootstrap_nav(@pagy, link_extra: 'data-turbo-action="advance"') %>
</div>