<!DOCTYPE html>
<html>
  <head>
    <title>Q&A</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render  partial: "layouts/nav"%>
    <div class="container">
      <%= render partial: "layouts/flash", locals: { time_alert: @time_alert, effect_alert: @effect_alert } %>
      <%= yield %>
    </div>
  </body>
</html>
